<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="qr-code.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" />
    <link href="tagsinput.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Crear QR</title>

</head>

<body onload="crearQR()">
    <script type="text/javascript" src="qrcode.js"></script>
    <div id="back-color" class="d-flex flex-column justify-content-center align-items-center"
        style="background-color: #673AB7; height: 100vh;">

        <div id="valueText" style="display: none;">Esme ecuela microelectronica</div>
        <div id="valueColor" style="display: none;">#673AB7</div>

        <div id="alert" style="display: none;" class="alert alert-danger" role="alert">Completa todos los campos</div>

        <div class="d-flex flex-row justify-content-between align-items-center"
            style="width: 60%;">
            <div style="background-color: white; height: 25vw; width: 25vw; padding: 2%;">
                <div id="qrcode" style="height: 100%; width: 100%;"></div>
            </div>
        <div class="card" style="width: 40%;">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="form-group">
                        <label for="borkerInput">Broker</label>
                        <input type="text" class="form-control" id="borkerInput" aria-describedby="emailHelp">
                        <small id="brokerHelp" class="form-text text-muted">ej: test.mosquitto.org</small>
                    </div>
                    <div class="form-group ml-3">
                        <label for="topicInput">Topic</label>
                        <input type="text" class="form-control" id="topicInput" aria-describedby="emailHelp">
                        <small id="topicHelp" class="form-text text-muted">ej: instalacion123</small>
                    </div>
                    <div class="form-group ml-3">
                        <label>Color</label>
                        <div class="color-picker"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="controlsInput">Controles</label>
                    <input id="controlsInput" class="form-control" type="text" data-role="tagsinput" value="Tv">
                    <small id="lightsHelp" class="form-text text-muted">ejemplo: Tv Sala, Equipo Sonido, Tv
                        Juan</small>
                </div>
                <div class="form-group">
                    <label for="lightsInput">Luces</label>
                    <input id="lightsInput" class="form-control" type="text" data-role="tagsinput"
                        value="Dormitorio, Comedor">
                    <small id="lightsHelp" class="form-text text-muted">ejemplo: Sala, Comedor, Patio
                        posterior</small>
                </div>

                <button onclick="validate()" href="#" class="btn btn-success">Crear código</button>
                <button onclick="save()" href="#" class="btn btn-primary">Guardar código</button>
            </div>
        </div>
    </div>

    </div>
    <script>

        var qrExist = false;
        function crearQR() {
            document.getElementById("qrcode").innerHTML = "";
            qrcode = new QRCode("qrcode", {
                text: document.getElementById("valueText").innerHTML,
                width: document.getElementById("qrcode").offsetWidth,
                height: document.getElementById("qrcode").offsetHeight,
                colorDark: document.getElementById("valueColor").innerHTML,
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
            document.getElementById("qrcode").removeAttribute("title");
            qrExist = true;
        }

        function save() {
            if (qrExist) {
                var x = document.getElementById("qrcode").querySelectorAll("img");
                var gh = x[0].src;
                var a = document.createElement('a');
                a.href = gh;
                a.download = 'qr.png';

                a.click()
            }
        }

        function validate() {
            var broker = document.getElementById("borkerInput").value;
            var topic = document.getElementById("topicInput").value;
            var controls = document.getElementById("controlsInput").value;
            var lights = document.getElementById("lightsInput").value;

            if (broker == "" || broker == " ") {
                document.getElementById("alert").style.display = "block";
            } else if (topic == "" || topic == " ") {
                document.getElementById("alert").style.display = "block";
            }/* else if ((controls == "" || controls == " ") && (lights != "" || lights != " ")) {
                document.getElementById("alert").style.display = "block";
            } else if ((lights == "" || lights == " ") && (controls != "" || controls != " ")) {
                document.getElementById("alert").style.display = "block";
            } */else {
                document.getElementById("valueText").innerHTML = broker + "~" + topic + "~" + controls + "~" + lights;
                crearQR();
                document.getElementById("alert").style.display = "none";
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="tagsinput.js"></script>
    <script src="color.js"></script>
</body>

</html>